.img1{
	width:50px;
	height:50px;
}

.img2{
	width:00px;
}

body{
	background-color: #483E3C;
}
.nav, .panel-body {
	background-color: #f7f3ea;
}

.navbar{
	height:80px;
	background-color: #f7f3ea;
}

.panel-heading{/*
	color: #f7f3ea;*/
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:black;
}


h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: black;
}

}
#departure{
	color:black;
}
.murt{
	width:300px;
}
.tbl{

}
.table-hover{
	color:black;
}

.smallFont{
	color: white;
}
.top{
	margin-top: 10px;
}
.font{
	font-size-adjust: 30px;
	background-color: blue;
}
